@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* https://www.w3schools.com/css/css_grid.asp */
/* https://www.w3schools.com/css/css3_flexbox.asp */

img{
    width: 70%;
}

a{
    color: white;
    text-decoration: none;
}

p{
    color: white;
    margin-left: 2px;
    margin-bottom: 5px;
}

body{
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr;
    background-image: url("./Images/Background.jpg");
    background-size: cover;
    background-position: center;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}

