@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    background-image: url("./Images/Background.jpg");
    background-size: cover;
    background-position: center;
}

/*-- NAVIGATIONSBAREN STYLES HERUNDER --*/

/* Navigationsbaren bliver stylet, her har jeg angivet bottom:0, så den er i bunden, i stedet for
at de andre elementer skal skubbe den derhen */
.navbar {
  width: 100%;
  padding: 0.8em;
  text-align: center;
  background-color: #73605c;
  overflow: auto;
  position: fixed;
  bottom: 0;
}

/* Ikonernes styling, de er inde i et a tag, da de skal fungere som links, derfor er det a'et der bliver stylet */
.navbar a {
  text-align: center;
  padding: 7.5%;
  color: #F2EBDF;
  text-decoration: none;
  font-size: 1.5em;
}

/* Angiver baggrundsfarven på det ikon, som man "befinder" sig på */
.active {
  background-color: #808080;
}


/* Adding width to container */

.container{
    width: 90%;
    margin: auto;
}

/* https://www.w3schools.com/css/css3_flexbox_container.asp */
/* Making container flex */

.flexcontainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 25px 0;
}

.flexcontainer h2{
    font-size: 1.5rem;
    color: white;
}

/* Adding width to the div */

.user-input{
    width: 350px;
    text-align: center;
}

/* Styling the input field */

.user-input input{
    width: 80%;
    outline: none;
    padding: 8px;
    background: white;
    color: #818C8A;
    border: 1px solid #818C8A;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* Styling the input button */

.user-input button{
    padding: 8px;
    width: fit-content;
    outline: none;
    border: 1px solid #818C8A;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 1s;
}

.user-input button:hover{
    background-color: white;
    color: #AAB9BF;
}

/* Adding width to the div-item */

.to-do-items{
    width: 500px;
    margin: auto;
}

/* Styling the div-item */

.item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 16px;
    color: black;
    text-transform: uppercase;
    background-color: white;
    margin-top: 20px;
    font-size: 1rem;
}

/* Adding margin and pointer to icons */

.item i{
    cursor: pointer;
    margin: 0 5px;
}

/* https://www.w3schools.com/css/css3_mediaqueries.asp */
/* Making mediaquries for the items within the container */
/* Items function fully responsive */

@media(max-width:600px){
    .flexcontainer{
        align-items: center;
        flex-direction: column;
    }

    .flexcontainer h2{
        margin: 10px 0;
    }

    .user-input{
        width: 100%;
    }

    .to-do-items{
        width: 85%;
    }
}

@media(max-width:480px){
    .user-input{
        width: 74%;
    }

}

@media(max-width:320px){
    .user-input{
        width: 60%;
    }

}
